.metadata
**/.classpath
**/.project
**/.settings
**/bin
/WiSe20
/SoSe2021/src/videos
/SoSe2021/src/videos2
/SoSe2021/src/p1
/SoSe2021/src/p4
/Practice
/SoSe2021/src/MyMath
/SoSe2021/src/MyMathTest
/SoSe2021/src/module-info.java
